<%= render 'partials/menu' %>

<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<div id="chart-COL" class="chart"></div> <!-- Container for Chart A -->
<div class="spacer"></div>
<div id="chart-Desktop" class="chart"></div> <!-- Container for Chart B -->


<script type="text/javascript">
$(function() {

	 Highcharts.setOptions({
          lang:{
              months: ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],
              shortMonths: ['Ene','Feb','Mar','Abr','May','Jun','Jul','Ago','Sep','Oct','Nov','Dic'],
              weekdays: ['Domingo','Lunes','Martes','Miércoles','Jueves','Viernes','Sábado'],
              shortWeekdays: ['Dom','Lun','Mar','Mie','Jue','Vie','Sáb'],
              printChart: 'Imprimir gráfico',
              downloadPNG: 'Descargar PNG',
              downloadPDF: 'Descargar PDF',
              downloadJPEG:'Descargar JPEG',
              downloadSVG: 'Descargar SVG'
            }
        });
    // Create the first chart
    $('#chart-COL').highcharts({

        chart: {
            type: 'spline' // Chart type (i.e. 'bar', 'column', 'spline' etc)
        },
        title: {
            text: 'Atributos Canal Online' // Title for the chart
        },
        xAxis: [{
            type: 'datetime',
            dateTimeLabelFormats: { // don't display the dummy year
                month: '%e. %b',
                year: '%b'
            },
            title: {
                text: 'Fecha'
            },
        }],
        yAxis: [{ // Primary yAxis
            endOnTick:false ,
            alignTicks:false,

            // plotBands: [{
            //         from: 60,
            //         to: 100,
            //         color: 'rgba(0, 250, 0, 0.1)'
            //     },
            //     {
            //         from: 60,
            //         to:-100,
            //         color: 'rgba(250, 0, 0, 0.1)'
            //     }

            //     ],

            plotLines: [{
                    value: 60,
                    color: 'green',
                    label: {
                        text: 'Valor mínimo',
                        align: 'right'
                    },
                    dashStyle: 'shortdash',
                    width: 1.5,
                }],
            labels: {
                format: '{value}',
                style: {
                    color: Highcharts.getOptions().colors[1]
                }
            },
            title: {
                text: 'Valor en %',
                style: {
                    color: Highcharts.getOptions().colors[1]
                }
            }
        // }, { // Secondary yAxis
        //     title: {
        //         text: 'Respuestas',
        //         style: {
        //             color: Highcharts.getOptions().colors[0]
        //         }
        //     },
        //     labels: {
        //         format: '{value} %',
        //         style: {
        //             color: Highcharts.getOptions().colors[0]
        //         }
        //     },
        //     opposite: true
        }],
        legend: {
            enabled: true // Enable/Disable the legend
        },
        credits: {
            enabled: true, // Enable/Disable the credits
            text: 'This is a credit'
        },
        tooltip: {
            shared: true // If you have multiple series then all points in each category will show up on one tooltip
        },
        series: [{
            name: 'Fácil Ingreso',
            type: 'spline',
            //yAxis: 1,
            color: '#FFC000',
            verticalAlign:'top',
            data: <%=@acceso_dia_mes%>,
            dataLabels: {
                    enabled: true,
                    borderColor: 'black',
                    color: '#FFC000'//|| 'black'

                    //colorByPoint: true
                }           
            
        },
        {
            name: 'Velocidad de carga',
            type: 'spline',
            //yAxis: 1,
            color: '#073046',
            data: <%=@rapidez_dia_mes%>,
            dataLabels: {
                    enabled: true,
                    borderColor: 'black',
                    color: '#073046'//|| 'black'

                    //colorByPoint: true
                }           
           
        },
        {
            name: 'Fácil encontrar info',
            type: 'spline',
            color: '#0095A7',
            data: <%=@encontrar_info_dia_mes%>,
            dataLabels: {
                    enabled: true,
                    borderColor: 'black',
                    color: '#0095A7'//|| 'black'

                    //colorByPoint: true
                }
           
        },
        {
            name: 'Utilidad Info',
            type: 'spline',
            color: '#92D050',
            data: <%=@utilidad_info_dia_mes%>,
            dataLabels: {
                    enabled: true,
                    borderColor: 'black',
                    color: '#92D050'//|| 'black'

                    //colorByPoint: true
                }
           
        }]
    });
    


/////////////////////// SEGUNDO GRÁFICO /////////////////////////////////////////
    $('#chart-Desktop').highcharts({
        chart: {
            type: 'spline'
        },
        title: {
            text: 'Atributos Desktop'
        },
        xAxis: [{
            type: 'datetime',
            dateTimeLabelFormats: { // don't display the dummy year
                month: '%e. %b',
                year: '%b'
            },
            title: {
                text: 'Fecha'
            },
        }],
        yAxis: [{ // Primary yAxis
            endOnTick:false ,
            alignTicks:false,

            // plotBands: [{
            //         from: 60,
            //         to: 100,
            //         color: 'rgba(0, 250, 0, 0.1)'
            //     },
            //     {
            //         from: 60,
            //         to:-100,
            //         color: 'rgba(250, 0, 0, 0.1)'
            //     }

            //     ],

            plotLines: [{
                    value: 60,
                    color: 'green',
                    label: {
                        text: 'Valor mínimo',
                        align: 'right'
                    },
                    dashStyle: 'shortdash',
                    width: 1.5,
                }],
            labels: {
                format: '{value}',
                style: {
                    color: Highcharts.getOptions().colors[1]
                }
            },
            title: {
                text: 'Valor en %',
                style: {
                    color: Highcharts.getOptions().colors[1]
                }
            }
        // }, { // Secondary yAxis
        //     title: {
        //         text: 'Respuestas',
        //         style: {
        //             color: Highcharts.getOptions().colors[0]
        //         }
        //     },
        //     labels: {
        //         format: '{value} %',
        //         style: {
        //             color: Highcharts.getOptions().colors[0]
        //         }
        //     },
        //     opposite: true
        }],

        legend: {
            enabled: true
        },
        credits: {
            enabled: true,
            text: 'You can have a link in here too',
            href: 'http://www.google.com'
        },
        tooltip: {
            shared: true
        },
        series: [{
            name: 'Fácil Ingreso',
            type: 'spline',
            //yAxis: 1,
            color: '#FFC000',
            verticalAlign:'top',
            data: <%=@acceso_dia_mes%>,
            dataLabels: {
                    enabled: true,
                    borderColor: 'black',
                    color: '#FFC000'//|| 'black'

                    //colorByPoint: true
                }           
            
        },
        {
            name: 'Velocidad de carga',
            type: 'spline',
            //yAxis: 1,
            color: '#073046',
            data: <%=@rapidez_dia_mes%>,
            dataLabels: {
                    enabled: true,
                    borderColor: 'black',
                    color: '#073046'//|| 'black'

                    //colorByPoint: true
                }           
           
        },
        {
            name: 'Fácil encontrar info',
            type: 'spline',
            color: '#0095A7',
            data: <%=@encontrar_info_dia_mes%>,
            dataLabels: {
                    enabled: true,
                    borderColor: 'black',
                    color: '#0095A7'//|| 'black'

                    //colorByPoint: true
                }
           
        },
        {
            name: 'Utilidad Info',
            type: 'spline',
            color: '#92D050',
            data: <%=@utilidad_info_dia_mes%>,
            dataLabels: {
                    enabled: true,
                    borderColor: 'black',
                    color: '#92D050'//|| 'black'

                    //colorByPoint: true
                }
           
        }]
    });
});

</script>